*
{
  margin: 0px;
  padding: 0px; 
  outline: none;
  border: 0px;
}
html
{
    background-image:url("background.png");
}
section
{
    position:relative;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items:center; 
    padding:20px;
}

section .container                                                      
{
    position:relative;
    width:800px;
    height:500px;
    box-shadow: 0 15px 50px black;
    overflow:hidden;
    background: white;
}
section .container .user
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;  
}
section .container .user .imgBx
{
    position:relative;
    width:50%;
    height:100%;
    background:#4F7978;
    transition: 0.5s;
}
section .container .user .imgBx img
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
}
section .container .user .formBx
{
    position:relative;
    width:50%;
    height:100%;
    background:#fff; 
    display:flex;
    justify-content: center;
    align-items:center;
    padding:40px;
    transition: 1s ease;
}
section .container .user .formBx form h2
{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing:2px;
    text-align:center;
    width:100%;
    margin-bottom:10px;
    color:#555;
}
section .container .user .formBx form input
{
    position:relative;
    width:100%;
    padding:10px;
    background:#ededed;
    color:#333; 
    border:none;
    outline:none;
    box-shadow:none;
    margin:8px 0;
    font-size:14px;
    letter-spacing: 1px;    
    font-weight: 300;
}
section .container .user .formBx form input[type="submit"]
{
    max-width:100px;
    background:black;
    color:white;
    cursor:pointer;
    font-size:14px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 0.5s;
    text-transform: uppercase
}
section .container .user .formBx form .signup
{
    position:relative;
    margin-top:20px;
    font-size:12px;
    letter-spacing: 1px;
    color:#555;
    text-transform: uppercase;
    font-weight: 
}
section .container .user .formBx form .signup a
{
    font-weight: 600;
    text-decoration: none;
    color: #677eff;
    
}
section .container .singupBx
{
    pointer-events: none;
}
section .container.active .singupBx
{
    pointer-events: initial;
}
section .container .singupBx .formBx
{   
    left:100%;
}
section .container.active .singupBx .formBx
{
    left:0;
}
section .container .singupBx .imgBx
{
    background-color:#F9B299;
    left:-100%;
}
section .container.active .singupBx .imgBx
{
    left:0;
}

.MyProfile{
    position: absolute;
    top: 25%;
    right: 25%;
    bottom: 25%;
    left: 25%;
    width: 700px;
    height:480px;
    display: flex;
}
.MyProfile .MyProfile_left{
    width: 35%;
    background: #F9B299;
    padding: 30px 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align:center;
    color: #fff;
}
.MyProfile .MyProfile_left img{
    margin-bottom: 0  10px;
    border-radius: 5px;
}
.MyProfile .MyProfile_right{
    width: 65%;
    background:#4F7978;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px 25px;
}
.MyProfile .MyProfile_right .information_outer,
.MyProfile .MyProfile_right .Additional_information_outer{
    margin-bottom: 25px;
}
.MyProfile .MyProfile_right .information_outer h3,
.MyProfile .MyProfile_right .Additional_information_outer h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #C0C0C0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4.4px;
}

.MyProfile .MyProfile_right .information_inner .information_inner2 h4{
    color: #898585;
   margin-bottom: 3px
}
.MyProfile .MyProfile_right .information_inner .information_inner2 p{
    margin-bottom: 1px;
        font-size: 16.5px;
}
